<launch>
    <!--- Set navigation with or without map -->
    <arg name="navigate_with_map" default="true"/>
    <arg name="launch_rviz" default="true"/>
    <arg name="map_name" default="env1_topfloor"/>
    <arg name="spots_file_name" default="$(arg map_name)"/>

    <!-- We load the Spots paramatere locations-->
    <rosparam file="$(find rbkairos_navigation)/spots/$(arg spots_file_name).yaml" command="load" />

    <!-- We start the navigation stack-->
    <include file="$(find rbkairos_navigation)/launch/start_navigation_5_1_6.launch">
        <arg name="navigate_with_map" value="$(arg navigate_with_map)"/>
        <arg name="map_name" default="$(arg map_name)"/>
    </include>

    <!-- We start the navigation rviz config-->
    <group if="$(arg launch_rviz)">
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find rbkairos_navigation)/rviz/navigation.rviz"/>
    </group>


</launch>
